#mozarts-ghost {
    position: fixed;
    opacity: 1;
    bottom: 0;
    left: 10px;
    padding: 10px;
    animation: pulse-mozart 8s infinite;
}

#mozarts-ghost a:link,
#mozarts-ghost a:visited {
    color: rgba(255, 255, 255, 0.714);
    text-decoration: none;
    animation: colorChangeLink 10s infinite;
}

#mozarts-ghost a:hover {
    font-weight: 700;
}

/* Keyframes for animations */
@keyframes pulse-mozart {
    0% { transform: scale(1.0); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1.0); }
}

@keyframes colorChangeLink {
    0% { color: #00FFFF; }
    20% { color: #00FF00; }
    40% { color: #0000FF; }
    60% { color: #FFFF00; }
    80% { color: #FF00FF; }
    100% { color: #00FFFF; }
}
