/* *, *::before, *::after { margin: 0; padding:0; box-sizing: inherit; } */
html { scroll-behavior: smooth; }

#mozarts-ghost {
    position: fixed;
    opacity: 1;
    bottom: 40px;
    left: 10px;
    animation: pulse-mozart 8s infinite; 
}

#mozarts-ghost a {padding: 10px !important; display: block; animation: colorChangeLink 10s infinite; }

#mozarts-ghost a:link,
#mozarts-ghost a:visited {
    color: rgba(00, 00, 00, 0.714);
    text-decoration: none;
}

#mozarts-ghost a:hover {
    font-weight: 700;
}

/* Keyframes for animations */
@keyframes pulse-mozart {
      0% { transform: scale(1.0); }
     50% { transform: scale(1.2); }
    100% { transform: scale(1.0); }
}

@keyframes colorChangeLink {
     0%  { background-color: #00FFFF76; }
    20%  { background-color: #00FF0090; }
    40%  { background-color: #0000FF80; }
    60%  { background-color: #FFFF0040; }
    80%  { background-color: #FF00FF90; }
    100% { background-color: #00FFFF70; }
}

#github-link {
    position: fixed;
    opacity: 1;
    bottom: 0;
    right: 10px;
    padding: 10px;
}
