/* *, *::before, *::after { margin: 0; padding:0; box-sizing: inherit; } */
html { scroll-behavior: smooth; }

#mozarts-ghost {
    position: fixed;
    opacity: 1;
    bottom: 30px;
    left: 10px;    
}

#mozarts-ghost a {
    display: block;
    padding: 10px;
    filter: drop-shadow(1px 1px 1px rgba(0,0,0));
}

#mozarts-ghost a:link,
#mozarts-ghost a:visited {
    color: rgba(00, 00, 00, 0.714);
    text-decoration: none;
    animation: 
        colorChangeLink 10s infinite, 
        pulse-mozart 8s infinite;
}

#mozarts-ghost a:hover { font-weight: 700; }

/* Keyframes for animations */
@keyframes pulse-mozart {
      0% { transform: scale(1.0); }
     50% { transform: scale(1.2); }
    100% { transform: scale(1.0); }
}

@keyframes colorChangeLink {
     0%  { color: #00FFFF90; }
    20%  { color: #FF00FF90; }
    40%  { color: #0000FF90; }
    60%  { color: #FF39FF90; }
    80%  { color: #FF00FF90; }
    100% { color: #001B0390; }
}

#github-link {
    position: fixed;
    opacity: 1;
    bottom: 0;
    right: 10px;
    padding: 10px;
}
